/node_modules/
/public/build
/public/brython.js
/public/brython_stdlib.js
/public/adia.js
/public/adia.stdlib.js
/public/adia.bundle.js
/public/adia_worker.py
/public/adia/*
.activate.sh

.DS_Store

.*.sw[op]
`
.ropeproject

package-lock.json
