/node_modules/
/public/build
/public/brython.js
/public/adia.js
/public/adia.stdlib.js
/public/adia.bundle.js
/public/adia_worker.py
/public/adia/*

.DS_Store

.*.sw[op]
`
.ropeproject

package-lock.json
