@import 'variables'

.highlight
  .comment
    color: $hl-comment
  .op
    color: $hl-op
  .keyop,
  .multilinepipe,
  .keyword,
  .diagram,
  .sequence
    color: $hl-keyword
  .attr,
  .moduleattrattr
    color: $hl-attr
  .text1,
  .text2,
  .other
    color: $hl-text
  .caller,
  .callee,
  .moduleattrmodule,
  .notemodulefirst,
  .notemodulesecond
    color: $hl-module
  .return
    color: $hl-return
